<h1>Group Fitness</h1>

<div id="monthWrapper">
	<h2 id="month"></h2>
	<h2 id="year"></h2>
	<img id="leftArrow" src="/images/arrow_left.png" height="30px" width="35px"/>
	<img id="rightArrow" src="/images/arrow_right.png" height="30px" width="35px"/>
</div>


<div id="calendarWrapper">
	<div id="calendar">

		<div class="column" id="cal-column-0">
			<div class="dayLabel">Sunday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div></div>

		<div class="column" id="cal-column-1">
			<div class="dayLabel">Monday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-2">
			<div class="dayLabel">Tuesday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-3">
			<div class="dayLabel">Wednesday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-4">
			<div class="dayLabel">Thursday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-5">
			<div class="dayLabel">Friday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-6">
			<div class="dayLabel">Saturday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

	</div>
</div>

<div id="windowPrimer"></div>
<div id="formWindow">
	<div id="formWindow-title">Weekday + date + year</div>
	<ul id="formWindow-classes">
		<li id="formWindow-newClass">
			<div id="formWindow-newClass-title">Add New Group Fitness Class</div>
			<div id="formWindow-newClass-form">
				<div id="formWindow-newClass-className">
					<span id="formWindow-newClass-className-title">Group Fitness Class Name</span>
					<input id="formWindow-newClass-className-input" type="text" name="className"/>
				</div>

				<div id="formWindow-newClass-times">
					<div id="formWindow-newClass-startTime">
						<div class="formWindow-newClass-timeTitle">Start Time</div>
						<div class="formWindow-newClass-selectWrapper">
							<select class="formWindow-newClass-hours">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12" selected="selected">12</option>
							</select>
							<select class="formWindow-newClass-minutes">
								<option value="00" selected="selected">00</option>
								<option value="30">30</option>		
							</select>
							<select class="formWindow-newClass-ampm">
								<option value="am" selected = "selected">am</option>
								<option value="pm">pm</option>
							</select>
						</div>
					</div>
					<div id="formWindow-newClass-endTime">
						<div class="formWindow-newClass-timeTitle">End Time</div>
						<div class="formWindow-newClass-selectWrapper">
							<select class="formWindow-newClass-hours">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							<select class="formWindow-newClass-minutes">
								<option value="00" selected="selected">00</option>
								<option value="30">30</option>		
							</select>
							<select class="formWindow-newClass-ampm">
								<option value="am" selected="selected">am</option>
								<option value="pm">pm</option>
							</select>
						</div>
					</div>
				</div>

				<div id="formWindow-newClass-repeatOptions">
					<div id="formWindow-newClass-repeatQuestion">Should this repeat every week?</div>
					<div id="formWindow-newClass-repeatSelections">
						<span>Yes</span><input type="radio" name="isRepeated" value="true">
						<span>No</span><input type="radio" name="isRepeated" checked value="false">
					</div>
				</div>
				<input type="button" id="formWindow-newClass-submitNewClass" value="Submit" />
			</div>
		</li>
		<li class="formWindow-existingClass"></li>
	</ul>
</div>

<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/GFModel.js"></script>
<script type="text/javascript" src="javascripts/GFViews.js"></script>