<h1>Group Fitness</h1>

<div id="specialDaysButton">SPECIAL DATES</div>
<div id="selectedDate" style="display: none;">
	<div id="yearIndex"></div>
	<div id="monthIndex"></div>
	<div id="dayIndex"></div>
	<div id="dayOfWeekIndex"></div>
</div>
<div id="monthWrapper">
	<h2 id="month"></h2>
	<h2 id="year"></h2>
	<img id="leftArrow" src="/images/arrow_left.png" height="30px" width="35px"/>
	<img id="rightArrow" src="/images/arrow_right.png" height="30px" width="35px"/>
</div>


<div id="calendarWrapper">
	<div id="calendar">

		<div class="column" id="cal-column-0">
			<div class="dayLabel">Sunday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-1">
			<div class="dayLabel">Monday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-2">
			<div class="dayLabel">Tuesday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-3">
			<div class="dayLabel">Wednesday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-4">
			<div class="dayLabel">Thursday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-5">
			<div class="dayLabel">Friday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

		<div class="column" id="cal-column-6">
			<div class="dayLabel">Saturday</div>
			<div class="dayBlock cal-block-0"></div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>

	</div>
</div>

<div id="GFWindowPrimer" class="windowPrimer"></div>
<div id="formWindow">
	<div id="formWindow-exit">x</div>
	<div id="formWindow-title"></div>
	<ul id="formWindow-classes">
		<li id="formWindow-newClass">
			<div id="formWindow-newClass-title">Add New Group Fitness Class</div>
			<div id="formWindow-newClass-form">
				<div id="formWindow-newClass-error"></div>
				<div id="formWindow-newClass-className">
					<span id="formWindow-newClass-className-title">Group Fitness Class Name</span>
					<input id="formWindow-newClass-className-input" type="text" name="className"/>
				</div>
				<div id="formWindow-newClass-instructorName">
					<span id="formWindow-newClass-instructorName-title">Instructor</span>
					<input id="formWindow-newClass-instructorName-input" type="text" name="className"/>
				</div>
				<div id="formWindow-newClass-times">
					<div id="formWindow-newClass-startTime">
						<div class="formWindow-newClass-timeTitle">Start Time</div>
						<div class="formWindow-newClass-selectWrapper">
							<select class="formWindow-newClass-hours">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12" selected="selected">12</option>
							</select>
							<select class="formWindow-newClass-minutes">
								<option value="00" selected="selected">00</option>
								<option value="30">30</option>		
							</select>
							<select class="formWindow-newClass-ampm">
								<option value="am" selected = "selected">am</option>
								<option value="pm">pm</option>
							</select>
						</div>
					</div>
					<div id="formWindow-newClass-endTime">
						<div class="formWindow-newClass-timeTitle">End Time</div>
						<div class="formWindow-newClass-selectWrapper">
							<select class="formWindow-newClass-hours">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							<select class="formWindow-newClass-minutes">
								<option value="00" selected="selected">00</option>
								<option value="30">30</option>		
							</select>
							<select class="formWindow-newClass-ampm">
								<option value="am" selected="selected">am</option>
								<option value="pm">pm</option>
							</select>
						</div>
					</div>
				</div>

				<div id="formWindow-newClass-repeatOptions">
					<div id="formWindow-newClass-repeatQuestion">Should this repeat every week?</div>
					<div id="formWindow-newClass-repeatSelections">
						<span>Yes</span><input type="radio" name="isRepeated" value="true">
						<span>No</span><input type="radio" name="isRepeated" checked value="false">
					</div>
				</div>
				<input type="button" id="formWindow-newClass-submitNewClass" value="Submit" />
			</div>
		</li>
		
	</ul>
</div>

<div id="specialDayWindow">
	<div id="specialDayWindow-exit">x</div>
	<div id="specialDayWindow-title">Special Dates</div>
	<ul id="specialDayWindow-dates">
		<li id="specialDayWindow-newDate">
			<div id="specialDayWindow-newDate-title">Add Special Dates</div>
			<div id="specialDayWindow-newDate-form">
				<div id="specialDayWindow-newDate-error"></div>
				<div id="specialDayWindow-newDate-nameInput">
					<span>Name:</span>
					<input type='input' name='title' />
				</div>
				<div id="specialDayWindow-newDate-startDate">
					<div>Start Date</div>
					<select class="specialDayWindow-newDate-monthSelector">
						<option value="01">Jan</option>
						<option value="02">Feb</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">Aug</option>
						<option value="09">Sep</option>
						<option value="10">Oct</option>
						<option value="11">Nov</option>
						<option value="12">Dec</option>
					</select>
					<select class="specialDayWindow-newDate-daySelector"></select>
					<select class="specialDayWindow-newDate-yearSelector">
						<option value="2013">2013</option>
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
					</select>
				</div>
				<div id="specialDayWindow-newDate-endDate">
					<div>End Date</div>
					<select class="specialDayWindow-newDate-monthSelector">
						<option value="01">Jan</option>
						<option value="02">Feb</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">Aug</option>
						<option value="09">Sep</option>
						<option value="10">Oct</option>
						<option value="11">Nov</option>
						<option value="12">Dec</option>
					</select>
					<select class="specialDayWindow-newDate-daySelector"></select>
					<select class="specialDayWindow-newDate-yearSelector">
						<option value="2013">2013</option>
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
					</select>
				</div>
				<div id="specialDayWindow-newDate-submitButton">
					<input type="submit" name="submitSpecialDay" value="submit"/>
				</div>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript" src="javascripts/loadMessage.js"></script>
<link rel="stylesheet" href="stylesheets/loadStyle.css" />
<script type="text/javascript" src="javascripts/confirmation.js"></script>
<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/GF/GFModel.js"></script>
<script type="text/javascript" src="javascripts/GF/GFViews.js"></script>
<script type="text/javascript" src="javascripts/GF/GFScript.js"></script>