<h1>Hours</h1>
<div id="windowPrimer"></div>
<div id="hoursWindow">
    <div id="hoursWindow-header">
        <div id="hoursWindow-title"> </div>
        <div id="hoursWindow-sectionTitle"> </div>
        <div id="hoursWindow-exit">x</div>
    </div>
    <div id="hoursWindow-body">
        <div id="hoursWindow-editDates">edit dates</div>
        <div>Start Date:</div>
        <div id="hoursWindow-hoursStartDate"> </div>
        <div>End Date:</div>
        <div id="hoursWindow-hoursEndDate"> </div>
        <div>Priority Number</div>
        <select id="hoursWindow-priorityNumberSelect">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <div id="hoursWindow-priorityNumberBase">0</div>
        <div id="hoursWindow-delete">DELETE</div>
        <div id="hoursWindow-timesHeader">Hours Of Operation</div>
        <ul id="hoursWindow-times">
            
        </ul>
        

    </div>

</div>

<div id="hoursWrapper">
    <div class="hoursSectionHeader">Default Hours</div>
    <ul id="defaultHours" class="hoursList">
        
    </ul>
    
    <div class="hoursSectionHeader">Facility Hours</div>
    <ul id="otherFacilityHours" class="hoursList">
        
    </ul>

    <div class="hoursSectionHeader">Closed Hours</div>
    <ul id="nonFacilityHours" class="hoursList">
        
    </ul>

    <div class="hoursSectionHeader">Other Hours</div>
    <ul id="closedHours" class="hoursList">

    </ul>
</div>

<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursModel.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursView.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursScript.js"></script>