<h1>Hours</h1>
<div id="hoursWindowPrimer" class="windowPrimer"></div>
<div id="hoursWindow">
    <div id="hoursWindow-header">
        <div id="hoursWindow-title"> </div>
        <div id="hoursWindow-sectionTitle"> </div>
        <div id="hoursWindow-exit">x</div>
    </div>
    <div id="hoursWindow-body">
        <div id="hoursWindow-editDates">edit dates</div>
        <div>Start Date:</div>
        <div id="hoursWindow-hoursStartDate"> </div>
        <div>End Date:</div>
        <div id="hoursWindow-hoursEndDate"> </div>
        <div>Priority Number</div>
        <select id="hoursWindow-priorityNumberSelect">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <div id="hoursWindow-priorityNumberBase">0</div>
        <div id="hoursWindow-delete">DELETE</div>
        <div id="hoursWindow-timesHeader">Hours Of Operation</div>
        <ul id="hoursWindow-times">
            
        </ul>
    </div>
</div>


<div id="hoursEdit-editTimes" class="hoursEdit">
    <div class="hoursEdit-title">Title</div>
    <div class="hoursEdit-body">
        <div class="hoursEdit-startTitle">Opens:</div>
        <div class="hoursEdit-startSelect"> 
            <select>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>:
            <select>
                <option value="00">00</option>
                <option value="30">30</option>
            </select>
            <select>
                <option value="am">am</option>
                <option value="pm">pm</option>
            </select>
        </div>
        <div class="hoursEdit-endTitle">Closes:</div>
        <div class="hoursEdit-endSelect">
            <select>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>:
            <select>
                <option value="00">00</option>
                <option value="30">30</option>
            </select>
            <select>
                <option value="am">am</option>
                <option value="pm">pm</option>
            </select>
        </div>
    </div>
    <div class="hoursEdit-done">
        <input type="button" name="done" value="done" />
        <input type="button" name="cancel" value="cancel" />
    </div>
</div>


<div id="hoursEdit-editDates" class="hoursEdit" >
    <div class="hoursEdit-title">Title</div>
    <div class="hoursEdit-body">
        <div class="hoursEdit-startTitle">Starts:</div>
        <div class="hoursEdit-startSelect">
            <select>
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">March</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">Aug</option>
                <option value="09">Sept</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <select>
                <option value="01">1</option>
            </select>
            <select>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
            </select>
        </div>

        <div class="hoursEdit-endTitle">Ends:</div>
        <div class="hoursEdit-endSelect">
            <select>
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">March</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">Aug</option>
                <option value="09">Sept</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <select>
                <option value="01">1</option>
            </select>
            <select>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
            </select>
        </div>
    </div>
    <div class="hoursEdit-done">
        <input type="button" name="done" value="done" />
        <input type="button" name="cancel" value="cancel" />
    </div>
</div>

<div id="hoursWrapper">
    <div class="hoursSectionHeader">Default Hours</div>
    <div class="hoursSectionHeader-add">+</div>
    <ul id="defaultHours" class="hoursList">
        
    </ul>
    
    <div class="hoursSectionHeader">Facility Hours</div>
    <div class="hoursSectionHeader-add">+</div>
    <ul id="otherFacilityHours" class="hoursList">
        
    </ul>

    <div class="hoursSectionHeader">Closed Hours</div>
    <div class="hoursSectionHeader-add">+</div>
    <ul id="nonFacilityHours" class="hoursList">
        
    </ul>

    <div class="hoursSectionHeader">Other Hours</div>
    <div class="hoursSectionHeader-add">+</div>
    <ul id="closedHours" class="hoursList">

    </ul>
</div>

<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursModel.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursView.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursScript.js"></script>