<h1>Hours</h1>
<div id="windowPrimer"></div>
<div id="hoursWindow">
    <div id="hoursWindow-header">
        <div id="hoursWindow-title">Summer Hours</div>
        <div id="hoursWindow-sectionTitle">Base Hours</div>
        <div id="hoursWindow-exit">x</div>
    </div>
    <div id="hoursWindow-body">
        <div id="hoursWindow-editDates">edit dates</div>
        <div>Start Date:</div>
        <div id="hoursWindow-hoursStartDate">04/12/2013</div>
        <div>End Date:</div>
        <div id="hoursWindow-hoursEndDate">05/12/2013</div>
        <div>Priority Number</div>
        <select id="hoursWindow-priorityNumber">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <div id="hoursWindow-delete">DELETE</div>
        <div id="hoursWindow-timesHeader">Hours Of Operation</div>
        <ul id="hoursWindow-times">
            <li class="hoursWindow-listItem" id="hoursWindow-times-0">
                <div class="hoursWindow-listItem-edit">save</div>
                <div class="hoursWindow-listItem-title">Sunday</div>
                <div class="hoursWindow-listItem-timeRange">
                    <span class="hoursWindow-listItem-startTime">12:00am</span>
                    <span>-</span>
                    <span class="hoursWindow-listItem-endTime">03:00pm</span>
                </div>
                <div class="hoursWindow-listItem-sameAsAbove">Same As Above</div>
                
            </li>
             <li class="hoursWindow-listItem" id="hoursWindow-times-0">
                <div class="hoursWindow-listItem-edit">save</div>
                <div class="hoursWindow-listItem-title">Sunday</div>
                <div class="hoursWindow-listItem-timeRange">
                    <span class="hoursWindow-listItem-startTime">12:00am</span>
                    <span>-</span>
                    <span class="hoursWindow-listItem-endTime">03:00pm</span>
                </div>
                <div class="hoursWindow-listItem-sameAsAbove">Same As Above</div>
                
            </li>
        </ul>
        

    </div>

</div>

<div id="hoursWrapper">
    <div class="hoursSectionHeader">Default Hours</div>
    <ul id="defaultHours" class="hoursList">
        
    </ul>
    <div class="hoursSectionHeader">Facility Hours</div>
    <ul id="otherFacilityHours" class="hoursList">
        <li>
            <div class="hoursItem-name">Summer</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Summer</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
    <div class="hoursSectionHeader">Closed Hours</div>
    <ul id="nonFacilityHours" class="hoursList">
    <li>
            <div class="hoursItem-name">Christmas Holiday</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Thanksgiving Holiday</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
    <div class="hoursSectionHeader">Other Hours</div>
    <ul id="closedHours" class="hoursList">
        <li>
            <div class="hoursItem-name">Pool Hours</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursModel.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursView.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursScript.js"></script>