<h1>Hours</h1>
<p>Here is where you update any information regarding the hours that the rec is available </p>

<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursModel.js"></script>