<h1>Hours</h1>
<div id="hoursWrapper">
    <div class="hoursSectionHeader">Base Hours</div>
    <ul id="baseHours" class="hoursList">
        <li>
            <div class="hoursItem-name">Summer Hours</div>
            <div class="hoursItem-startDate">Starts: 05/02/2013</div>
            <div class="hoursItem-endDate">Ends: 08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Fall Hours</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Spring Hours</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Winter Hours</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
    <div class="hoursSectionHeader">Facility Hours</div>
    <ul id="otherFacilityHours" class="hoursList">
        <li>
            <div class="hoursItem-name">Summer</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Summer</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
    <div class="hoursSectionHeader">Closed Hours</div>
    <ul id="nonFacilityHours" class="hoursList">
    <li>
            <div class="hoursItem-name">Christmas Holiday</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
        <li>
            <div class="hoursItem-name">Thanksgiving Holiday</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
    <div class="hoursSectionHeader">Other Hours</div>
    <ul id="closedHours" class="hoursList">
        <li>
            <div class="hoursItem-name">Pool Hours</div>
            <div class="hoursItem-startDate">05/02/2013</div>
            <div class="hoursItem-endDate">08/20/2013</div>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<script type="text/javascript" src="javascripts/DateHelper.js"></script>
<script type="text/javascript" src="javascripts/Hours/HoursModel.js"></script>