
<% layout('layout.ejs') -%>
<% block('title', 'VandyRec') -%>
<% block('tabIndex', tabIndex) -%>
<div id="logoutButton">Logout</div>
<div id = "tabs">
			<ul>
				<li><a id="newsPage" href="newsRaw">News</a></li>
				<li><a id="hoursPage" href="hoursRaw">Hours</a></li>
				<li><a id="trafficPage" href="trafficRaw">Traffic</a></li>
				<li><a id="gfPage" href="groupFitnessRaw">Group Fitness
				<li><a id="intramuralsPage" href="intramuralsRaw">Intramurals</a></li>
				<li><a id="programsPage" href="programsRaw">Programs</a></li>
				
			</ul>
		</div>
</div>