
<% layout('layout.ejs') -%>
<% block('title', 'News') -%>
<% block('tabIndex', 1) -%>

<div id = "tabs">
			<ul>
				<li><a href="newsRaw">News</a></li>
				<li><a href="hoursRaw">Hours</a></li>
				<li><a href="trafficRaw">Traffic</a></li>
				<li><a href="groupFitnessRaw">Group Fitness
				<li><a href="intramuralsRaw">Intramurals</a></li>
				<li><a href="programsRaw">Programs</a></li>
				
			</ul>
		</div>
</div>