
<% layout('layout.ejs') -%>
<% block('title', tabName) -%>
<% block('tabIndex', tabIndex) -%>

<div id = "tabs">
			<ul>
				<li><a href="news">News</a></li>
				<li><a href="hours">Hours</a></li>
				<li><a href="traffic">Traffic</a></li>
				<li><a href="groupFitness">Group Fitness
				<li><a href="intramurals">Intramurals</a></li>
				<li><a href="programs">Programs</a></li>
				
			</ul>
		</div>
</div>