<h1>Intramurals</h1>
<p>Here is where intramural information goes</p>
<form method="post" action="/intramurals/files" enctype="multipart/form-data">
	<input type="file" name="testFile" />
	<input type="submit" />
</form>