<h1>Intramurals</h1>

<section>
	<ul id="intramurals">
		<li>Summer</li>
		<ul></ul>

		<li>Fall</li>
		<ul>
			<li>Football</li>
			<ul>
				<li><a href="./intramurals/league">Corec black</a></li>
				<li><a href="">Corec red</a></li>
				<li><a href="">Corec green</a></li>
			</ul>
		</ul>

		<li>Winter</li>
		<ul>
			<li>Basketball</li>
			<ul>
				<li><a href="">Corec black</a></li>
			</ul>

			<li>Volleyball</li>
			<ul>
				<li><a href="">Corec black</a></li>
			</ul>
		</ul>

		<li>Spring</li>
		<ul>
			<li>Soccer</li>
			<ul>
				<li><a href="">Corec red</a></li>
			</ul>
		</ul>
	</ul>
</section>

<script src="javascripts/DateHelper.js"></script>
<script src="javascripts/IM/IMModel.js"></script>

