<h1>Intramurals</h1>

<div id="intramuralsImport">
	<div>You can also add an HTML file for an intramural sport!</div>
	<form method="POST" action="/intramurals/files" enctype="multipart/form-data">
		<input type="file" name="intramuralsSport" />
		<input type="submit" value="submit" />
	</form>
</div>

<div id="intramuralsWrapper">
    <div class="intramuralsSectionHeader">
        <div class="intramuralsSectionHeader-title">Fall Season</div>
        <div class="intramuralsSectionHeader-add" id="hoursAdd-1">+</div>
    </div>
    <ul id="FallSeason" class="intramuralsList">
        <li><a href="intramurals/details">
            <div class="intramuralsItem-name">Flag Football</div>
            <div class="intramuralsItem-startDate">06/12/2013</div>
            <div class="intramuralsItem-endDate">08/12/2013</div>
        </a></li>
    </ul>
    
    <div class="intramuralsSectionHeader">
        <div class="intramuralsSectionHeader-title">Winter Season</div>
        <div class="intramuralsSectionHeader-add" id="hoursAdd-1">+</div>
    </div>
    <ul id="WinterSeason" class="intramuralsList">
        
    </ul>

    <div class="intramuralsSectionHeader">
        <div class="intramuralsSectionHeader-title">Spring Season</div>
        <div class="intramuralsSectionHeader-add" id="hoursAdd-2">+</div>
    </div>
    
    <ul id="SpringSeason" class="intramuralsList">
        
    </ul>

    <div class="intramuralsSectionHeader">
        <div class="intramuralsSectionHeader-title">Summer Season</div>
        <div class="intramuralsSectionHeader-add" id="hoursAdd-3">+</div>
    </div>
    <ul id="SummerSeason" class="intramuralsList">

    </ul>
</div>