<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>
	<body>
		<form id="loginForm" action='/' method="post">
			<div id="loginWrapper">
				<div id="title">Login</div>
				<div id="warning"><%= warning %></div>
				<div class="inputWrapper">
					<span class="inputIndicator">Username:</span>
					<input class="loginTextInput" type="text" name="username" />
				</div>
				<div class="inputWrapper">
					<span class="inputIndicator">Password:</span>
					<input class="loginTextInput" type="password" name="password" />
				</div>
				<div id="submitWrapper">
					<input id="submit" type="submit" value="submit"/>
				</div>
			</div>
		</form>
	</body>
</html>