<h1>News</h1>
<div id="add">ADD</div>
<div id="animate">ANIMATE</div>
<div id = "tableWrapper">
	<ul id="table">

	</ul>
</div>

<script type="text/javascript" src="javascripts/newsModel.js"></script>
<script type="text/javascript" src="javascripts/newsView.js"></script>