
<h1>News</h1>

<div id = "table">
	<ul>
		<li class = "tableElement">
			<div class="button remove">Remove</div>
			<div class="button edit">Edit</div>

			<div class="description">Here is a description</div>
		</li>
		<li class = "tableElement">
			<div class="button remove">Remove</div>
			<div class="button edit">Edit</div>

			<div class="description">Here is a description</div>
		</li>
		<li class = "tableElement">
			<div class="button remove">Remove</div>
			<div class="button edit">Edit</div>

			<div class="description">Here is a description</div>
		</li>
		<li class = "tableElement">
			<div class="button remove">Remove</div>
			<div class="button edit">Edit</div>

			<div class="description">Here is a description</div>
		</li>
		<li class = "tableElement">
			<div class="button remove">Remove</div>
			<div class="button edit">Edit</div>

			<div class="description">Here is a description</div>
		</li>
		<li class = "tableElement">
			<div class="button remove">Remove</div>
			<div class="button edit">Edit</div>

			<div class="description">Here is a description</div>
		</li>
	</ul>
</div>