<h1>Programs</h1>

<div id="calendarWrapper">
	<div id="calendar">
		<div class="column" id="sundayColumn">
			<div class="dayLabel">Sunday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
		<div class="column" id="mondayColumn">
			<div class="dayLabel">Monday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
		<div class="column" id="tuesdayColumn">
			<div class="dayLabel">Tuesday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
		<div class="column" id="wednesdayColumn">
			<div class="dayLabel">Wednesday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
		<div class="column" id="thursdayColumn">
			<div class="dayLabel">Thursday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
		<div class="column" id="fridayColumn">
			<div class="dayLabel">Friday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
		<div class="column" id="saturdayColumn">
			<div class="dayLabel">Saturday</div>
			<div class="dayBlock cal-block-1"></div>
			<div class="dayBlock cal-block-2"></div>
			<div class="dayBlock cal-block-3"></div>
			<div class="dayBlock cal-block-4"></div>
			<div class="dayBlock cal-block-5"></div>
		</div>
	</div>
</div>