<h1>Programs</h1>

<div id="monthWrapper">
	<h2 id="month">September</h2>
	<img id="arrow_left" src="/images/arrow_left.png" height="30px" width="35px"/>
	<img id="arrow_right" src="/images/arrow_right.png" height="30px" width="35px"/>
</div>

<div id="calendarWrapper">
	<div id="calendar">

		<div class="column" id="calColumn-0">
			<div class="dayLabel">Sunday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

		<div class="column" id="calColumn-1">
			<div class="dayLabel">Monday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

		<div class="column" id="calColumn-2">
			<div class="dayLabel">Tuesday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

		<div class="column" id="calColumn-3">
			<div class="dayLabel">Wednesday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

		<div class="column" id="calColumn-4">
			<div class="dayLabel">Thursday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

		<div class="column" id="calColumn-5">
			<div class="dayLabel">Friday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

		<div class="column" id="calColumn-6">
			<div class="dayLabel">Saturday</div>
			<div class="dayBlock cal-block-0">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-1">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-2">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-3">
				<div class = "dayIndicator"></div>
			</div>
			<div class="dayBlock cal-block-4">
				<div class = "dayIndicator"></div>
			</div>
		</div>

	</div>
</div>