<!DOCTYPE html>
<html>

	<head>
		<title>Sport name</title>
		<link rel="stylesheet" type='text/css' href="/stylesheets/sportDetailsStyle.css" />
	</head>
	<body>
		<h3>Sport name</h3>
		<div class="sportDates" id="entryDates">
			<div>Entry Dates</div>
			<span>06/12/2013</span>-
			<span>11/12/2013</span>
		</div>

		<div class="sportDates" id="seasonDates">
			<div>Season Dates</div>
			<span>08/10/2013</span>-
			<span>09/01/2013</span>
		</div>

		<div id="teams">
			<div>Teams</div>

			<ul>
				<li>
					<div>The blah blahs</div>
					<div>Wins: 12</div>
					<div>Losses: 10</div>
					<div>Ties: 0</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>The blah blahs</div>
					<div>Wins: 12</div>
					<div>Losses: 10</div>
					<div>Ties: 0</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>The blah blahs</div>
					<div>Wins: 12</div>
					<div>Losses: 10</div>
					<div>Ties: 0</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
			</ul>
		</div>

		<div id="games">
			<div>Games</div>
			<ul>
				<li>
					<div>06/12/2013</div>
					<div>7:00pm - 8:00pm</div>
					<div><span>Lakers</span>Vs<span>Spurs</span></div>
					<div>Court 2</div>
					<div>27-28</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>06/12/2013</div>
					<div>7:00pm - 8:00pm</div>
					<div><span>Lakers</span>Vs<span>Spurs</span></div>
					<div>Court 2</div>
					<div>27-28</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>06/12/2013</div>
					<div>7:00pm - 8:00pm</div>
					<div><span>Lakers</span>Vs<span>Spurs</span></div>
					<div>Court 2</div>
					<div>27-28</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
			</ul>
		</div>

		<div id="e_datesEdit" class="editWindow">
			<div>Edit Entry Dates</div>
			<div>
				<div>Starts:</div>
				<select>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">March</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">Aug</option>
					<option value="09">Sept</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<select>

				</select>
				<select>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>

			<div>
				<div>Ends:</div>
				<select>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">March</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">Aug</option>
					<option value="09">Sept</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<select>

				</select>
				<select>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</div>

			<input type="button" value="submit" />
			<input type="button" value="cancel" />
			
		</div>

		<div id="s_datesEdit" class="editWindow"></div>
		<div id="teamsEdit" class="editWindow"></div>
		<div id="gamesEdit" class="editWindow"></div>

		<div id="generateHTML">Generate HTML</div>
		<a id="return" href="/intramurals">Return to Intramurals</a>
		<div id="delete">Delete</div>

		<script type="text/javascript" src="/jQuery-ui/js/jquery-1.9.1.js"></script>
		<script src="../javascripts/Libraries/underscore.js"></script>
		<script src="../javascripts/Libraries/backbone.js"></script>
		<script src="../javascripts/DateHelper.js"></script>
		<script src="../javascripts/IM/detailsScript.js"></script>

	</body>
</html>