<!DOCTYPE html>
<html>

	<head>
		<title>Sport name</title>
		<link rel="stylesheet" type='text/css' href="/stylesheets/sportDetailsStyle.css" />
	</head>
	<body>
		<h3>Sport name</h3>
		<div class="sportDates" id="entryDates">
			<div>Entry Dates</div>
			<div>06/12/2013</div>
			<div>11/12/2013</div>
		</div>

		<div class="sportDates" id="seasonDates">
			<div>Season Dates</div>
			<div>08/10/2013</div>
			<div>09/01/2013</div>
		</div>

		<div id="teams">
			<div>Teams</div>

			<ul>
				<li>
					<div>The blah blahs</div>
					<div>Wins: 12</div>
					<div>Losses: 10</div>
					<div>Ties: 0</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>The blah blahs</div>
					<div>Wins: 12</div>
					<div>Losses: 10</div>
					<div>Ties: 0</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>The blah blahs</div>
					<div>Wins: 12</div>
					<div>Losses: 10</div>
					<div>Ties: 0</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
			</ul>
		</div>

		<div id="games">
			<div>Games</div>
			<ul>
				<li>
					<div>06/12/2013</div>
					<div>7:00pm - 8:00pm</div>
					<div><span>Lakers</span>V<span>Spurs</span></div>
					<div>Court 2</div>
					<div>27-28</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>06/12/2013</div>
					<div>7:00pm - 8:00pm</div>
					<div><span>Lakers</span>V<span>Spurs</span></div>
					<div>Court 2</div>
					<div>27-28</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
				<li>
					<div>06/12/2013</div>
					<div>7:00pm - 8:00pm</div>
					<div><span>Lakers</span>V<span>Spurs</span></div>
					<div>Court 2</div>
					<div>27-28</div>
					<div>edit</div>
		            <div>delete</div>
				</li>
			</ul>
		</div>
		<div id="generateHTML">Generate HTML</div>
		<a id="return" href="/intramurals">Return to Intramurals</a>
	</body>
</html>