body {
    background: #e1e1e1;
    height: 1500px;
}

h3 {
    text-align: center;
    display: block;
    width: 1000px;
    font-size: 25pt;
    color: #1C94C4;
    margin: 50px auto;
}


.sportDates {
    text-align: center;
    border: solid black 1px;
    position: absolute;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    border-radius: 5px;
    height: 100px;
    box-shadow: 5px 5px 6px 0 #555555;
}

.sportDates div:nth-child(1) {
    border-bottom: solid black 1px;
    background: #EB8F00;
    color: #0b4158;
    overflow: hidden;
    padding: 5px 0px;
    font-size:13pt;
    
    
}

.sportDates div:nth-child(1) {
    margin-bottom: 25px;
}

.sportDates span {
    padding: 0px 10px;
}

#entryDates {
    top: 150px;   
}

#seasonDates {
    top: 280px;
}



#teams, #games {
    border: solid black 2px;
    position: relative;
    
    display: block;
    width: 800px;
    margin-left: -401px;
    left: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 6px 0 #555555;
    
}

#teams {
    top: 330px;
}

#games {
    top: 380px;
}

#teams > div, #games > div {
    
    background: #EB8F00;
    height: 40px;
    line-height: 40px;
    font-size: 15pt;
    text-align: center; 
    margin: 0px;
    font-weight: bold;
}

#teams > ul {
    position: relative;
    display: block;
    list-style: none;
    margin: 0px;
    
}

#teams > ul li {
    position: relative;
    border-top: solid black 2px;
    margin-left: -40px;
    height: 80px;
}

#teams > ul li div:nth-child(1) {
    position: absolute;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 300px;
    margin-left: -150px; 
    margin-top: -15px;
    top: 30%;
    left: 50%;
    text-align: center;
    color: red;
    font-size: 14pt;
}

#teams > ul li div:nth-child(2), #teams > ul li div:nth-child(3), #teams > ul li div:nth-child(4) {
    position: absolute;
    font-size: 13pt;
    top: 55px;
}

#teams > ul li div:nth-child(2) {
    left: 150px;
}

#teams > ul li div:nth-child(3) {
    left: 360px;
}

#teams > ul li div:nth-child(4) {
    right: 150px;
}

#teams > ul li div:nth-child(5) {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 10pt;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#teams > ul li:nth-child(odd) div:nth-child(5), #teams > ul li:nth-child(odd) div:nth-child(6) {
    color: blue;
}

#teams > ul li:nth-child(even) div:nth-child(5), #teams > ul li:nth-child(even) div:nth-child(6) {
    color: red;
}

#teams > ul li div:nth-child(6) {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 10pt;
    text-decoration: underline;
    cursor: pointer;
}


#teams > ul li:nth-child(even), #games > ul li:nth-child(even) {
    background: #1C94C4;
}

#games > ul {
    margin: 0;
    list-style: none;
    display: block;
}

#games > ul li {
    position: relative;
    border-top: solid black 2px;
    margin-left: -40px;
    height: 90px;
}

#games > ul div:nth-child(1) {

    position: absolute;
    top: 5px;
    left: 10px;
}

#games > ul div:nth-child(2) {

    position: absolute;
    top: 30px;
    left: 10px;
}

#games > ul div:nth-child(3) {
    position: absolute;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 300px;
    text-align: center;
    margin-left: -150px;
    font-size: 15pt;
    left: 50%;
    top: 10px;
    
}

#games > ul div:nth-child(4) {
    position: absolute;
    left: 10px;
    top: 55px;
}

#games > ul div:nth-child(5) {
    position: absolute;
    display: block;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    bottom: 10px;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}

#games > ul div:nth-child(6) {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10pt;
    text-decoration: underline;
    cursor: pointer;
}

#games > ul li:nth-child(odd) div:nth-child(6), #games > ul li:nth-child(odd) div:nth-child(7) {
    color: blue;
}

#games > ul li:nth-child(even) div:nth-child(6), #games > ul li:nth-child(even) div:nth-child(7) {
    color:red;
}

#games > ul div:nth-child(7) {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 10pt;
    text-decoration: underline;
}

#games span {
    padding: 0px 10px;
    font-weight: bold;
    color:red;
}

#return, #generateHTML, #delete {
    font-weight: bold;
    border: solid black 2px;
    display: block;
    width: 400px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    margin-left: -201px;
    left: 50%;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 6px 0 #555555;
    background: #fc654c;
}

#delete {
    top: 460px;
}

#return {
    top: 440px;
}

#generateHTML {
    top: 420px;
}


/*edit window*/

.editWindow {
    position: fixed;
    border-radius: 5px;
    background: black;
    color: white;
    opacity: .75;
    display: block;
    z-index: 2;
}

/*the title*/
.editWindow > div:nth-child(1) {
    position: absolute;
    top: 20px;
    font-size: 15pt;
    text-align: center;
    width: 400px;
}

.editWindow input[value="submit"] {
    border: solid black 1px;
    border: solid #EB8F00 2px;
    border-radius: 2px;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: transparent;
    color: white;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.editWindow input[value="cancel"] {
    border: solid #EB8F00 2px;
    border-radius: 2px;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: transparent;
    color: white;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

#e_datesEdit {
    display: none;
    width: 500px;
    height: 200px;
    margin-left: -250px;
    left: 50%;
    margin-top: -100px;
    top: 50%;
    
    
}

#e_datesEdit > div:nth-child(1) {
    margin-left: -200px;
    left: 50%;
}
#e_datesEdit > div:nth-child(2), #e_datesEdit > div:nth-child(3) {
    position: absolute;
    top: 80px;
    width: 200px;
    text-align: center;
}

#e_datesEdit > input:nth-child(4) {
    left: 140px;
}

#e_datesEdit > input:nth-child(5) {
    right: 140px;
}


#e_datesEdit > div:nth-child(2) {
    left: 20px;
}

#e_datesEdit > div:nth-child(3) {
    right: 20px;
}
#s_datesEdit {
    display: none;
}

#teamsEdit {
    display: none;
}

#gamesEdit {
    display: none;
}


