body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
textarea {
    resize: none;
}

/* styling for login tab */
#loginWrapper {
    display: block;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #dbdbdb;
}
#title {
    display: block;
    height: 30px;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
#warning {
    position: relative;
    display: block;
    top: -40px;
    text-align: center;
    font-size: 10px;
    color: red;
    
}
.inputWrapper {
    display:block;
    
    margin-bottom: 20px;
}

.inputIndicator {
    display: block;
    width: 100px;
    margin: 0 auto;
    
    margin-bottom: 10px;
    font-size: 18px;
    text-align:center;
}

.loginTextInput {
    display: block;
    border: solid black 1px;
    margin: 0 auto;
    
    height: 25px;
    width: 250px;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 14px;
}

#submitWrapper {
    display:block;
    margin-top: 30px;
    margin-left: 30px;
    margin: 0 auto;
    width: 60px;
    height: 30px;
}

#submit {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid black 1px;
}

/* styling for news tab */

#ui-tabs-1 {
    overflow: hidden;
}
#newsData {
    display: none;
}
#table {
    display: block;
    width: 780px;
    margin: 0;
}

.tableElement {
    margin: 0 auto;
    display: block;
    width: 750px;
    height: 65px;
    list-style: none;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    
    background-image: linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -o-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);

    background-image: -webkit-gradient(
	   linear,
	   left bottom,
	   left top,
	   color-stop(0.1, rgb(177,174,181)),
	   color-stop(0.55, rgb(240,240,240))
    );
}

.button {
    display: block;
    width: 40px;
    font-size: 10px;
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
    line-height: 11px;
}

.remove {
    position: relative;
    top: -17px;
    left: 708px;
    text-align: right;
}

.description {
    position: relative;
    display: block;
    width: 580px;
    height: 50px;
    left: 50px;
    top: -40px;
    font-size: 15px;
}

.author {
    display: block;
    position: relative;
    width: 90px;
    top: -10px;
    left: 650px;
    font-size: 10px;
    color: red;
}

#add_news {
    display: block;
    height: 20px;
    width: 40px;
    position: relative;
    left: 830px;
    cursor: pointer;
    font-size: 18;
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;
    padding: 5px;
    background-color: white;
}

#animate_news {
    display: block;
    height: 20px;
    width: 100px;
    position: relative;
    top: 5px;
    left: 830px;
    cursor: pointer;
    font-size: 18;
    border-radius: 5px;
    border: 3px solid #226b1d;
    text-align: center;
    padding: 5px;
    background-color: #38b331;
}

/* styling for programs*/
#monthWrapper {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 35px;
    
    width: 230px;
    text-align: center;
    color: #1C94C4;
}
#month {
    display: block;
   
    width: 170px;
    margin: 0 auto;
}
#arrow_left {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

#arrow_right {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
#calendarWrapper {
    
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    
}
#calendar {
    margin: 0 auto;
    position: relative;
    display: block;
    border: solid black 1px;
    border-bottom: none;
    height: 745px;
    width: 1000px;
}

.column {
    border-right: solid black 1px;
    display: block;
    width: 142px;
}
#calColumn-0 {
    position: absolute;
    top: 0px;
    left: 0px;
}
#calColumn-1 {
    position: absolute;
    top: 0px;
    left: 143px;
    
}
#calColumn-2 {
    position: absolute;
    top: 0px;
    left: 286px;
}
#calColumn-3 {
    position: absolute;
    top: 0px;
    left: 429px;
}
#calColumn-4 {
    position: absolute;
    top: 0px;
    left: 572px;
}
#calColumn-5 {
    position: absolute;
    top: 0px;
    left: 715px;
}
#calColumn-6 {
    position: absolute;
    top: 0px;
    left: 858px;
}

.dayLabel {
    display: block;
    height: 20px;
    padding: 10px 0px;
    text-align: center;
    background-color: #ed9202;
    
}

.dayBlock {
    position: relative;
    display: block;
    border-bottom: solid black 1px;
    height: 140px;
    cursor: pointer;   
}

.dayBlock[empty] {
    background-color: #898989;
}

.dayIndicator {
    display: block;
    position: absolute;
    height: 28px;
    width: 28px;
    top: 6px;
    left: 103px;
    text-align: center;
    line-height: 28px;
    background-color: #c7c7c7;
    border-radius: 14px;
    
}

.classCountIndicator {
    
    position: absolute;
    display: block;
    top: 60px;
    height: 50px;
    width: 142px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    color: #898989;
}