body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
textarea {
    resize: none;
}
/* styling for news tab */
#table {
    display: block;
    width: 770px;
    margin: 0;
}

.tableElement {
    display: block;
    width: 700px;
    height: 65px;
    list-style: none;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    
    background-image: linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -o-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(177,174,181) 10%, rgb(240,240,240) 55%);

    background-image: -webkit-gradient(
	   linear,
	   left bottom,
	   left top,
	   color-stop(0.1, rgb(177,174,181)),
	   color-stop(0.55, rgb(240,240,240))
    );
}

.button {
    display: block;
    width: 40px;
    font-size: 10px;
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
}

.remove {
    position: relative;
    top: -17px;
    left: 658px;
    text-align: right;
}

.description {
    position: relative;
    display: block;
    width: 600px;
    height: 50px;
    left: 50px;
    top: -30px;
    font-size: 15px;
}

#add {
    display: block;
    height: 20px;
    width: 40px;
    position: relative;
    left: 800px;
    cursor: pointer;
    font-size: 18;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}